*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

/*html, body {
	height: 100%;
}
*/
.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -229px 0 0 -233px;
}

html, body {
	padding-top: 28px;
	font-family: 'RobotoLight', sans-serif;
	font-size: 22px; 
	width: 100%;
	overflow-x: hidden;
}

/* Our css */
a {
	color: #333;
}
#parallax {
	background-image: url('../images/main_blank_new.jpg');
	background-position: 50% 0;
	position: relative;
}
#parallax .logo {
	position: absolute;
	left: 120px;
	top: 120px;
}
#wrapper {
	margin: 0;
	padding: 0;
}
.first-row {
	margin-top: 134px;
}
.first-row .col-sm-5 {
	padding-left: 7%;
	padding-right: 6%;
}
.first-row .col-sm-7 {
	padding-right: 7%;
}
.first-row .col-sm-7 p {
	margin-top: 0;
}
.second-row {
	margin-top: 120px;
}
.second-row p {
	padding-left: 7%;
}
.third-row {
	margin-top: 70px;
}
.third-row .col-sm-7 {
	padding-left: 7%;
}
.third-row .col-sm-5 {
	padding-left: 6%;
	padding-right: 7%;
}
.third-row .col-sm-5 img {
	margin-top: 230px;
	margin-bottom: 20%;
}
.fourth-row {
	margin-right: 15%;
	margin-left: 15%;
}
.fourth-row .gal-item {
	margin-top: 4%;
	padding-left: 2%;
	padding-right: 2%;
	-webkit-transition: all .5s linear;
	-moz-transition: all .5s linear;
	transition: all .5s linear;
}
.contact-form {
	margin-top: 37px;
}
.contact-form .title {
	text-align: right;
	text-transform: uppercase;
}
.contact-form .title h3 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 18px;
}
.contact-form form {
	padding-left: 48px;
}
.contact-form form .form-group {
    margin-bottom: 57px;
    position: relative;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
.contact-form form .form-group label {
	font-size: 20px;
	color: #737373;
}
.contact-form form .form-group .form-control {
	display: inline-block;
	background: transparent;
	width: 100%;
    height: 35px;
	margin: 0;
	padding: 0;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    border-radius: 2px;
    border: 2px solid transparent;
    border-bottom-color: #737373;
    outline: none;
    box-shadow: none;
    -webkit-transition: height .4s ease-out;
    -o-transition: height .4s ease-out;
    transition: height .4s ease-out;
}
.contact-form form .form-group .error {
	border-bottom-color: #FF5722;
}
.contact-form form .form-group .help-block {
    margin: 0;
    font-size: 20px;
    overflow-x: visible;
    white-space: nowrap;
}
.contact-form form .form-group .help-block.form-error {
    width: 100%;
    top: -25px;
	left: 2px;
    position: absolute;
    display: block;
	color: #FF5722;
}
.contact-form form .form-group [name="message"]:focus {
	height: 300px;
	overflow: auto;
}
.contact-form form .form-group.captcha {
	text-align: right;
    height: 0;
    overflow: hidden;
    margin-bottom: 0;
}
.contact-form form .form-group.captcha.has-error {
	overflow: visible;
}
.contact-form form .form-group.captcha.active {
	height: 35px;
	margin-bottom: 57px;
}
.contact-form form .form-group.captcha input {
	width: 40px;
}
.contact-form form .submit-group [name="submit"] {
	width: 128px;
    border: none;
    color: #fff;
    background: #ff9d00;
    height: 38px;
    width: 132px;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    box-shadow: none;
    text-shadow: none;
    outline: none;
    border-radius: 2px;
}
.footer {
	margin-top: 5%;
	padding: 2.5% 7% 2.5% 7%;
	background-color: #f0eeee;
}
.footer p {
	padding-top: 0;
	margin: 0;
}
#mos {
	margin-bottom: 0.5em;
}
.footer .col-sm-1 {
	margin-top: 2%;
}
#fb {
	margin-right: 25px;
}